@font-face {
    font-family: 'SF Pro Display';
    src: url('/public/fonts/SFProDisplayRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SF Pro Display', sans-serif;
} 